@* <li class="nav-item">  *@
@*      <a class="" asp-area="" asp-controller="Member" asp-action="Login">User(Donor)</a>  *@
@*  </li>  *@
@*  <li class="nav-item">  *@
@*     <a class="" asp-area="" asp-controller="NGO" asp-action="Login">NGOs</a>  *@
@*  </li>  *@
<div>
    <form action="" method="get">
        <button type="submit" name="role" value="User" class="btn btn-primary">User</button>
        <button type="submit" name="role" value="NGO" class="btn btn-success">NGO</button>
    </form>
</div>

