@{
    ViewData["Title"] = "Privacy Policy";
}
@* <h1>@ViewData["Title"]</h1> *@
<div class="hero-section" style="height:300px">
    <div class="overlay">
        <h1>Your trust matters</h1>
        <h3>Transparency in every donation</h3>
    </div>
</div>
<div style="height:200px;">
    <h5 style="color:forestgreen;margin-top:90px;">Your privacy matters</h5>
    <h2>We prioritize your information security.</h2>
</div>
