@{
    ViewBag.Title = "Donation Successful";
}

<div class="container text-center mt-5">
    <h2 class="text-success">Thank you for your donation!</h2>
    <p>Your donation has been successfully submitted.</p>
    <a href="@Url.Action("Create", "Donation")" class="btn btn-primary">Donate More</a>
</div>
