@* @model List<User> *@
@* <h2>Manage Users</h2> *@
@* <table border="1"> *@
@*     <tr><th>Name</th><th>Role</th></tr> *@
@*     @foreach (var user in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@user.Name</td> *@
@*             @* <td>@user.Role</td> *@ 
@*         </tr> *@
@*     } *@
@* </table> *@
