<h2>Login</h2>

<form method="get" asp-action="NGODashboard" asp-controller="NGO">
    <label>Email:</label>
    <input type="email" name="email" required class="form-control" />
    <br />
    <label>Password:</label>
    <input type="password" name="password" required class="form-control" />
    <br />
    <button type="submit" class="btn btn-success">Login</button>
</form>
<a href="~/NGO/NGORegister">Create new account</a>
